@import "tailwindcss";

:root {
  --background: #110B1A;
  --text: #ffffff;
  --primary: #AE84E4;
  --border: #AE84E420;
  --foreground: #AE84E410;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --font-inter: var(--font-inter);
}

@layer utilities {

  .card-content {
    @apply flex flex-col justify-between items-center h-full gap-2;
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    width: 10px;
    background-clip: padding-box;

  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--foreground);
    border-radius: 100vh;
    border: 4px solid rgba(0, 0, 0, 0);
    width: 10px;

  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
  }
}